<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675789980846-kupr9g7bhouiba61kgb9cbln6n0hu81p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675789980846-kupr9g7bhouiba61kgb9cbln6n0hu81p</string>
	<key>API_KEY</key>
	<string>AIzaSyAWK4TR9STMRPAoxq7NZNBrLbqk21zDL_s</string>
	<key>GCM_SENDER_ID</key>
	<string>675789980846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-app-4917c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-4917c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675789980846:ios:7469d4b44f3951b175993f</string>
</dict>
</plist>